# Ejemplo 1

In [1]:
import numpy as np

In [2]:
A=np.random.random((3,4))
A

array([[0.94172132, 0.47369376, 0.10822414, 0.7187176 ],
       [0.59030667, 0.83394486, 0.92013179, 0.73953859],
       [0.1089238 , 0.62177442, 0.62217049, 0.42463869]])

In [3]:
AT=A.transpose()
AT

array([[0.94172132, 0.59030667, 0.1089238 ],
       [0.47369376, 0.83394486, 0.62177442],
       [0.10822414, 0.92013179, 0.62217049],
       [0.7187176 , 0.73953859, 0.42463869]])

In [4]:
Ars=AT.reshape((2,6))
Ars

array([[0.94172132, 0.59030667, 0.1089238 , 0.47369376, 0.83394486,
        0.62177442],
       [0.10822414, 0.92013179, 0.62217049, 0.7187176 , 0.73953859,
        0.42463869]])

In [5]:
Asum=Ars.sum(axis=1)
Asum

array([3.57036483, 3.5334213 ])

In [6]:
Afil=Asum[Asum<0.5]
Afil

array([], dtype=float64)

In [7]:
B=np.linspace(3,5,20)
B

array([3.        , 3.10526316, 3.21052632, 3.31578947, 3.42105263,
       3.52631579, 3.63157895, 3.73684211, 3.84210526, 3.94736842,
       4.05263158, 4.15789474, 4.26315789, 4.36842105, 4.47368421,
       4.57894737, 4.68421053, 4.78947368, 4.89473684, 5.        ])

## Ejemplo 2

In [8]:
import pandas as pd

l=[113,65,986,234,765,852]
s=pd.Series(l)

In [17]:
cols=["A","B","C"]
rows=np.random.random((len(cols),2))
d=dict(zip(cols,rows))

In [18]:
df=pd.DataFrame(d)
df

          A         B         C
0  0.604998  0.340865  0.428593
1  0.545304  0.843935  0.414377

In [20]:
df.shape

(2, 3)

In [29]:
df.index

RangeIndex(start=0, stop=2, step=1)

In [32]:
df.describe()

              A         B         C         D
count  2.000000  2.000000  2.000000  2.000000
mean   0.575151  0.592400  0.421485  1.167551
std    0.042210  0.355724  0.010052  0.313514
min    0.545304  0.340865  0.414377  0.945863
25%    0.560227  0.466633  0.417931  1.056707
50%    0.575151  0.592400  0.421485  1.167551
75%    0.590075  0.718168  0.425039  1.278395
max    0.604998  0.843935  0.428593  1.389239

In [33]:
df["D"]=df[["A","B"]].sum(axis=1)
df

          A         B         C         D
0  0.604998  0.340865  0.428593  0.945863
1  0.545304  0.843935  0.414377  1.389239