In [4]:
import numpy as np
import pandas as pd
import scipy as sp
import scipy.stats as stats

In [11]:
df=pd.read_csv("water.csv")
df.describe()

       Unnamed: 0           0
count   850.00000  850.000000
mean    424.50000   15.914423
std     245.51816    0.994445
min       0.00000   12.632000
25%     212.25000   15.272372
50%     424.50000   15.914169
75%     636.75000   16.541769
max     849.00000   19.486895

In [16]:
n=df["0"].count()
xbar=df["0"].mean()
std=df["0"].std()
alpha=0.01
h0=16

se=std/(n**0.5)
z_score=(xbar-h0)/se

ppfl=stats.norm(xbar,std).ppf(alpha/2)
ppfr=stats.norm(xbar,std).ppf(1-alpha/2)
p_value=1-stats.norm(xbar,std).cdf(z_score)
z_score,ppfl,ppfr,p_value

(-2.5089123466169267, 13.35290291083343, 18.47594322080536, 1.0)