In [1]:
import numpy as np
import pandas as pd
import scipy as sp
import scipy.stats as stats
import matplotlib.pyplot as plt

In [3]:
dl=stats.norm(10,5); dl

In [4]:
dl.rvs(10000).std()

4.986647245088783

In [5]:
df=pd.read_csv("water.csv")
df

     Unnamed: 0          0
0             0  16.357251
1             1  14.775995
2             2  16.220070
3             3  15.826246
4             4  15.169998
..          ...        ...
845         845  16.038042
846         846  16.252982
847         847  14.982693
848         848  15.887318
849         849  14.708798

[850 rows x 2 columns]

In [6]:
df.describe()

       Unnamed: 0           0
count   850.00000  850.000000
mean    424.50000   15.914423
std     245.51816    0.994445
min       0.00000   12.632000
25%     212.25000   15.272372
50%     424.50000   15.914169
75%     636.75000   16.541769
max     849.00000   19.486895

In [7]:
m=850
med=15.91
std=0.994
alpha=0.01
oz=16

den=std/(m**0.5) #(desvestan/raiz de #datos)
z_score=(med-oz)/den #z_score=(X-H0)/(desvestan/raiz de #datos)

ppfl=stats.norm(0,1).ppf(alpha/2)
ppfu=stats.norm(0,1).ppf(1-alpha/2)
p_value=1-stats.norm(0,1).cdf(z_score)
z_score,ppfl,ppfl,p_value

(-2.639766954406822,
 -2.575829303548901,
 -2.575829303548901,
 0.9958518472586235)